@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("/assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-text {
  background: linear-gradient(103.77deg, #69E6FF 7.44%, #F5FF9F 71.14%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

}


.enterprise {
  background: linear-gradient(90deg, #69E6FF 0%, #F5FF9F 95.84%);
  box-shadow: 0px 40px 40px 0px #0000001F;

}

.sliderbox {
  background: linear-gradient(0deg, #F6F7F9, #F6F7F9),
    linear-gradient(180deg, #FFFFFF 0%, #FCFFE3 100%);
    box-shadow: 0px 8px 0px 0px #D0DA7F;
    
}